.properties {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.result {
  padding-top: 10px;
  margin-bottom: -10px;
  font-size: 15px;
}

.result > span {
  font-style: italic;
  text-decoration: underline;
}

.searchName {
  width: 100%;
  height: 19px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -13px;
}

.section > button {
  padding: 4px 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(92, 92, 239);
  color: white;
  cursor: pointer;
}

.title {
  font-size: 20px;
  margin: 30px 0;
  font-weight: bold;
  text-decoration: underline;
}

.error {
  margin-top: 40px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .properties {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 1080px) {
  .properties {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 780px) {
  .properties {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 550px) {
  .properties {
    grid-template-columns: auto;
  }
}
